body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7f5f8;
    padding: 40px;
    max-width: 900px;
    margin: auto;
  }

  footer {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    position: relative; 
    width: 100%;  
}
  
  h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-align: center;
  }
  
  form {
    background-color: #eae1ef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-bottom: 30px;

  }
  
  form label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    align-items: center;
  }
  

  form input[type="text"],
  form input[type="date"],
  form select,
  form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: none;
    border-radius: 8px;
  }
  
  .prioridad-radio {
    display: flex;
    gap: 45px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #d8a6f1;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f2c7e8;
  }
  
  #lista .tarea {
    background-color: #ece5e6;
    border-left: 3px solid #ef8a9c;
    border-right: 3px solid #ef8a9c;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 0 6px #e47689;
  }
